{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="category">Category</label>
        {{ form_widget(form.category,{
            'attr':{
                'class':'form-control'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="category">Name:</label>
        {{ form_widget(form.Name,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Name'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="category">Price:</label>
        {{ form_widget(form.Price,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Price'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        {{ form_widget(form.Description,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Description'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="due_date">Image</label>
        {{ form_widget(form.ProductImage,{

        }) }}
    </div>
    <input type="submit" name="create_product" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}

