{% extends 'base.html.twig' %}

{% block body %}
    {# First Slide #}


    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="box-sizing: border-box; padding: 0; margin: 0;">
        <div class="carousel-inner" style="max-width: 1300px; margin: 0 auto; padding: 50px 40px;
   width: 100%; position: relative;">
            <div class="carousel-item">
                <img src="uploads/image/iphone-13-va-iphone-13-mini-hien-co-the-quay-video-dolby-vision-o-4k-o-toc-do-60-khung-hinh-giay.jpg" class="d-block w-100" style="width: 1200px; height: 500px;" alt="...">

            </div>
            <div class="carousel-item active">
                <img src="uploads/image/1645790714_Oppo-Find-X5-Pro-OFFICIAL-Beautiful-design-first-class-performance-and.webp" class="d-block w-100" style="width: 1200px; height: 500px;" alt="...">

            </div>
            <div class="carousel-item">
                <img src="uploads/image/samsung galaxy s20.jpg" class="d-block w-100" style="width: 1200px; height: 500px;" alt="...">

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {# End Slide #}

        <ul class="list-group container" >

            <li class="list-group-item" style="background: #e6ffff">

            <div class="bs-example" data-example-id="striped-table">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>

                            <td>{{ product.Name }}</td>
                            <td>{{ product.Price }}</td>
                            <td>{{ product.Description }}</td>
                            <td> <a href="{{ asset('uploads/image/' ~ product.ProductImage) }}"><img src="{{ asset('uploads/image/' ~ product.ProductImage)}}" height="120px" width="100px"><td>
                            <td>
                                {#                        <a href="{{ path('todo_details', {'id': product.id}) }} " class='btn btn-success'>View</a>#}
                                {#                        <a href="{{ path('todo_edit', {'id': product.id}) }}" class='btn btn-default'>Edit</a>#}
                                {#                        <a href="{{ path('todo_delete', {'id': product.id}) }}" class='btn btn-danger'>Delete</a>#}
                                <a href="{{path('product_details',{'id':product.id})}} " class='btn btn-outline-success'>View</a>
                                <a href="{{ path('product_edit', {'id': product.id}) }}" class='btn btn-outline-info    '>Edit</a>
                                <a href="{{ path('product_delete', {'id': product.id}) }} "class='btn btn-outline-danger'>Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div></li>

        </ul>
{% endblock %}

